h1,
h2,
h3,
h4,
h5,
h6 {
    --tw-font-weight: var(--font-weight-semi-bold);
    font-weight: var(--font-weight-semi-bold);
}

.nav-link {
    font-weight: var(--font-weight-light);
}

.nav-dropdown-link {
    font-weight: var(--font-weight-light);
}

p {
    font-weight: var(--font-weight-light);
    text-align: justify;
}

.nav-dropdown-list {
    z-index: 100;
    background-color: white;
}

.nav-dropdown-link {
    color: var(--color-body);
}

.nav-dropdown-item :hover {
    font-weight: var(--font-weight-semibold);
}

.search-modal {
    color: var(--color-gray-800);
}
