{{ define "main" }}


  <!-- Features -->
  {{ range $i, $e:= .Params.features }}
    <section class="section-sm {{ if (modBool $i 2) }}{{ end }}">
      <div class="container">
        <div class="row items-center justify-between">
          <div
            class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-5 mb-3 mx-auto" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
            {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "1000x" "DisplayLG" "600x" "DisplayMD" "360x" "Class" "rounded-xl shadow-lg object-cover") }}
          </div>
          <div
            class="{{ if not (modBool $i 2) }}
              md:order-0
            {{ end }} md:col-7 lg:col-6 mx-auto" data-aos="fade-left"
            data-aos-easing="linear"
            data-aos-duration="500">
            <h2 class="text-gold mb-4">
              {{ .title | markdownify }}
            </h2>
            <p class="mb-8 text-lg">
              {{ .content | markdownify }}
            </p>
            <ul>
              {{ range .bulletpoints }}
                <li class="relative mb-4 pl-6">
                  <i class="fa fa-check absolute left-0 top-1.5"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-default bg-transparent hover:bg-white text-gold font-semibold hover:text-body py-2 px-4 borde-3 border-gold hover:border-transparent rounded" href="{{ .link | absLangURL }}" {{ if eq .rel "external" }} target="_blank"{{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Features -->

  <!-- Partners -->
  {{ with site.GetPage "sections/partners" }}
    {{ if .Params.enable }}
      <section class="section-sm">
        <div class="container">
          <div class="row">
            <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
              <h1 class="my-6 text-gold">
                {{ .Title | markdownify }}
              </h1>
              <p class="mb-10" style="text-align:center !important;">
                {{ .Params.description | markdownify }}
              </p>
            </div>
            <div class="col-12">
              <div class="grid grid-cols-5 gap-6">
                {{ range .Params.partners }}
                  <div>{{ partial "image" (dict "Src" .image "Alt" .name "Class" "max-w-32") }}</div>
                {{ end}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
              <h5 class="my-6 text-bold">
                Funded by
              </h5>
            </div>
            <div class="col-12">
              <div class="grid grid-cols-2 gap-6">
                {{ range .Params.fundings }}
                <div>{{ partial "image" (dict "Src" .image "Alt" .name "Class" "max-w-32") }}</div>
                {{ end}}
              </div>
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
  <!-- /Testimonials -->
{{ end }}
